🔔 Price Alert

<a href="{{pairUrl}}">{{tokenBaseSymbol}}/{{tokenQuoteSymbol}}</a> {{#if alertName}}({{alertName}}){{/if}}
{{tokenBaseName}} price goes under {{targetPrice}}
<i>Trigged at {{triggerTime}}</i>