🔴 New <b>Sell</b> by 💳 {{aliasName}} <a href="{{walletUrl}}">{{walletAddress}}</a>

<b>{{baseAmount}} ${{tokenBase.symbol}}</b> ↔ <b>{{quoteAmount}} {{tokenQuote.symbol}}</b> (${{volumeUsd}}) | <a href="{{txUrl}}">Txn</a>

{{tokenBase.name}} ({{tokenBase.symbol}})
<code>{{tokenBase.address}}</code>
MCap: ${{marketCap}} | Liq: ${{liquidity}}